@using FinancialTracker_Web.Models
@using FinancialTracker_Web.Models.ViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title: Monies</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- bootstrap-tree-view -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css">
    <!-- datatables -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />
    <!-- toastr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <!-- AdminLTE stylesheets -->
    <link rel="stylesheet" href="~/Content/adminlte/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/adminlte.revisions.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- SiteStyles -->
    <link href="~/Content/Site.css" rel="stylesheet" />

    @RenderSection("Stylesheets", required: false)


    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <!-- popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.9.9/umd/popper.min.js"></script>
    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- InputMask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/jquery.inputmask.bundle.min.js"></script>
    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
</head>
<body class="hold-transition layout-top-nav">

    <div class="wrapper">

        @Html.Partial("_TopNav")

        <div class="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Monies: Financial Manager
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2020 <a href="https://profile.matthewwendel.info/">Matthew Wendel</a>.</strong> All rights reserved.
        </footer>
    </div>


    <!-- Datatables -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(".data-table").DataTable({
            /* No ordering applied by DataTables during initialisation */
            "order": [],
            "autoWidth": false
        });
        $(".data-table-transactions").DataTable({
            /* No ordering applied by DataTables during initialisation */
            "order": [],
            "autoWidth": false,
            "columnDefs": [
                { "orderable": false, "targets": 5 }
            ]
        });
    </script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>


    <!-- FontAwesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <!-- bootstrap-tree-view -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
    <!-- bootstrap-datetimepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    @RenderSection("Scripts", required: false)

    <!-- hide popovers when clicked outside-->
    <script>
        $(document).on('click', function (e) {
            $('.btn-popover').each(function () {
                // hide any open popovers when the anywhere else in the body is clicked
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });

        $(".btn-popover").draggable({
            stop: function () {
                // show popover when drag stops
                $(this).popover('show');
            }
        });
    </script>

    <!-- alerts processing -->
    @{
        var alertsDanger = TempData.Where(t => t.Key.StartsWith("alertDanger")).ToList();
        var alertsSuccess = TempData.Where(t => t.Key.StartsWith("alertSuccess")).ToList();
        var alertsInfo = TempData.Where(t => t.Key.StartsWith("alertInfo")).ToList();
    }
    @if( alertsDanger.Count > 0 ) {
        foreach( var avm in alertsDanger ) {
            <script>
                toastr.error('@avm.Value.ToString()');
            </script>
        }
    }

    @if( alertsInfo.Count > 0 ) {
        foreach( var avm in alertsInfo ) {
            <script>
                toastr.info('@avm.Value.ToString()');
            </script>
        }
    }

    @if( alertsSuccess.Count > 0 ) {
        foreach( var avm in alertsSuccess ) {
            <script>
                toastr.success('@avm.Value.ToString()');
            </script>
        }
    }
</body>
</html>