@using FinancialTracker_Web.Models
@using Microsoft.AspNet.Identity
@{
    var accTypes = new AppDbContext().BankAccountTypes.ToDictionary(t => t.Id, t => t.Name);
}
<button type="button" id="createAccount_btn" class="btn btn-sm btn-outline-primary btn-popover">Create New Bank Account</button>
<div id="createAccount_form" style="display:none">
    @using( Html.BeginForm("Create", "BankAccounts", FormMethod.Post) ) {
        @Html.AntiForgeryToken()
        @Html.Hidden("returnUrl", Request.RawUrl)
        @Html.Hidden("OwnerId", User.Identity.GetUserId())
        @Html.Hidden("ParentHouseholdId", ApplicationUser.GetParentHouseholdId(User))
        
        <div class="row row-cols-1">
            <div class="col">
                <label>Account Name:</label>
            </div>
            <div class="col pb-2 mb-2 border-bottom">
                <input type="text" name="AccountName" placeholder="Type a name..." class="full-width" />
            </div>
            <div class="col">
                <label>Type:</label>
            </div>
            <div class="col pb-2 mb-2 border-bottom">
                <select class="custom-select text-sm" name="AccountTypeId">
                    @foreach(KeyValuePair<int, string> bat in accTypes) {
                        <option value="@bat.Key">@bat.Value</option>
                    }
                </select>
            </div>
            <div class="col">
                <label>Starting Balance:</label>
            </div>
            <div class="col pb-2 mb-2 border-bottom">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" step=".01" class="form-control text-right pr-2" name="StartingBalance">
                </div>
            </div>
            <div class="col">
                <label>Low Balance Warning Amount:</label>
            </div>
            <div class="col pb-2 mb-2 border-bottom">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" step=".01" class="form-control text-right" name="LowBalanceAlertThreshold">
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-block btn-success">Create Account</button>
            </div>
        </div>
    }
</div>


<script>
    $('#createAccount_btn').popover({
        placement: 'top',
        title: 'Add New Account:',
        html: true,
        sanitize: false,
        content: $('#createAccount_form').html()
    });
</script>