@model FinancialTracker_Web.Models.BankAccount

@{
    ViewBag.Title = $"Account: {Model.AccountName}";
}

<div class="jumbotron jumbotron-skinny bg-gradient-navy">
    <h1>Account: @Model.AccountName</h1>
    <p class="lead">View or edit transactions and account balance.</p>
</div>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header bg-gradient-green">Current Balance</div>
            <div class="card-body">
                <p class="balance-lg">@Model.CurrentBalance.ToString("$0.00")</p>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="card">
            <div class="card-header bg-gradient-info">Information</div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="small-label">Created By:</p>
                        <p class="lead">@Model.Owner.GetFullName()</p>
                    </div>
                    <div class="col text-center">
                        <p class="small-label">Created On:</p>
                        <p class="lead">@Model.Created.ToString("MMM d, yyyy h:mm:ss tt")</p>
                    </div>
                    <div class="col text-right">
                        <p class="small-label">Total Transactions</p>
                        <p class="lead">@Model.Transactions.Count</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.Partial("partials/_TransactionsCard", Model)
    </div>
</div>