@using FinancialTracker_Web.Models
@using Microsoft.AspNet.Identity

@model CategoryItem

<button type="button" id="editCategoryItem@(Model.Id)_btn" class="btn btn-sm btn-outline-warning btn-popover"><i class="fas fa-pencil-alt"></i></button>
<div id="editCategoryItem@(Model.Id)_form" style="display:none">
    @using( Html.BeginForm("Edit", "CategoryItems", FormMethod.Post) ) {
        @Html.AntiForgeryToken()
        @Html.Hidden("Id", Model.Id)
        @Html.Hidden("returnUrl", Request.RawUrl)
        @Html.Hidden("ParentCategoryId", Model.ParentCategoryId)

        <div class="row row-cols-1">
            <div class="col">
                <label for="name">Name:</label>
            </div>
            <div class="col pb-2 mb-2 border-bottom">
                <input type="text" id="name" name="Name" placeholder="Type a name..." class="full-width" value="@Model.Name" />
            </div>
            <div class="col">
                <label for="desc">Description:</label>
            </div>
            <div class="col pb-2 mb-2 border-bottom">
                <textarea type="text" id="desc" name="Description" placeholder="Type a description..." class="full-width" rows="3">@Model.Description</textarea>
            </div>
            <div class="col">
                <label for="budget">Monthly Allocated Spending:</label>
            </div>
            <div class="col pb-2 mb-2 border-bottom">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="number" step=".01" class="form-control text-right pr-2" id="budget" name="AmountBudgeted" value="@Model.AmountBudgeted">
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-block btn-warning">Submit Changes</button>
            </div>
        </div>
    }
</div>


<script>
    $('#editCategoryItem@(Model.Id)_btn').popover({
        placement: 'bottom',
        title: 'Edit Subcategory: @Model.Name',
        html: true,
        sanitize: false,
        content: $('#editCategoryItem@(Model.Id)_form').html()
    });
</script>