@using FinancialTracker_Web.Models
@using Microsoft.AspNet.Identity
@model Household

@if( Model != null ) {
    <div class="card">
        <div class="card-header card-header-md bg-gradient-navy"><i class="fas fa-wallet mr-3"></i>Accounts</div>
        <div class="card-body">

            @if( Model.BankAccounts.Count > 0 ) {
                <table id="data-table">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Type</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( BankAccount acc in Model.BankAccounts ) {
                            <tr>
                                <td>
                                    <a class="pr-3" href="@Url.Action("Details", "BankAccounts", new { id = acc.Id })">
                                        @acc.AccountName
                                    </a>
                                    
                                    @if( acc.OwnerId == User.Identity.GetUserId() ) {
                                        @Html.Partial("partials/buttons/_BankAccountEditButton", acc)
                                        @Html.Partial("partials/buttons/_BankAccountDeleteButton", acc)
                                    }
                                </td>
                                <td>@acc.AccountType.Name</td>
                                <td>@acc.GetCurrentBalance()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            } else {
                <h5 class="text-center">No bank accounts registered yet!</h5>
            }
        </div>
        @if( Request.RawUrl != "/" ) {
            <div class="card-footer">
                <div class="float-right">
                    @*<a href="@Url.Action("Create", "BankAccounts")" class="btn btn-sm btn-outline-primary card-link">Create New Account</a>*@
                    @Html.Partial("partials/buttons/_BankAccountCreateButton", Model)
                </div>
            </div>
        }
    </div>
}