@using FinancialTracker_Web.Models
@using Microsoft.AspNet.Identity
@model Household

@if( Model != null ) {
    <div class="card">
        <div class="card-header card-header-md bg-gradient-navy"><i class="fas fa-wallet mr-3"></i>Accounts</div>
        <div class="card-body">

            @if( Model.BankAccounts.Count > 0 ) {
                <table id="data-table">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Type</th>
                            <th>Balance</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( BankAccount acc in Model.BankAccounts ) {
                            <tr>
                                <td>@acc.AccountName</td>
                                <td>@acc.AccountType.Name</td>
                                <td>@acc.CurrentBalance</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-info" href="@Url.Action("Details", "BankAccounts", new { id = acc.Id })">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    @if(acc.OwnerId == User.Identity.GetUserId()) {
                                        <a class="btn btn-sm btn-outline-danger" href="@Url.Action("Delete", "BankAccounts", new { id = acc.Id })">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            } else {
                <h5 class="text-center">No bank accounts registered yet!</h5>
            }
        </div>
        @if( Request.RawUrl != "/" ) {
            <div class="card-footer">
                <div class="float-right">
                    <a href="@Url.Action("Create", "BankAccounts")" class="btn btn-sm btn-outline-primary card-link">Create New Account</a>
                </div>
            </div>
        }
    </div>
}