@using FinancialTracker_Web.Models
@model Household

<div class="card">
    <div class="card-header card-header-md bg-gradient-purple"><i class="fas fa-funnel-dollar mr-3"></i>Categories</div>
    <div class="card-body">
        @if( Model.Categories.Count > 0 ) {
            <ul class="list-group">

                @foreach( Category c in Model.Categories ) {
                    <li class="list-group-item category-list-group-item">
                        <span class="category-name">@c.Name</span> 
                        <span class="category-desc overflow-hidden">
                            @c.Description

                        </span>

                        @if( Request.RawUrl != "/" ) {
                            <span class="float-right">

                                @if( c.GetTotalBudgetedAmount() > 0 ) {
                                    <text><text class="text-sm pr-5">@($"{c.GetThisMonthTotalBudgetUsage():P2}") (@c.GetThisMonthTotalBudgetUsageAmount().ToString("$0.00") of @c.GetTotalBudgetedAmount().ToString("$0.00"))</text></text>
                                }
                                @Html.Partial("~/Views/Categories/_CategoryEditButton.cshtml", c)
                                @Html.Partial("~/Views/Categories/_CategoryDeleteButton.cshtml", c)
                                @Html.Partial("~/Views/CategoryItems/_CategoryItemCreateButton.cshtml", c)
                            </span>
                        }

                        @if( c.CategoryItems.Count > 0 ) {
                            <ul class="list-group mt-2 mb-2 mr-5">
                                @foreach( CategoryItem ci in c.CategoryItems ) {
                                    <li class="list-group-item subcategory-list-group-item @(ci.GetThisMonthBudgetUsage() > 1 ? Html.Raw("bg-danger-lite") : Html.Raw(""))">
                                        <span class="subcategory-name">@ci.Name</span> <small class="subcategory-desc overflow-hidden">@ci.Description</small>
                                        <span class="float-right">
                                            @if( ci.AmountBudgeted != null && ci.AmountBudgeted.Value > 0 ) {
                                                <text><text class="text-sm @(ci.GetThisMonthBudgetUsage() > 1 ? Html.Raw("text-danger text-bold") : Html.Raw("")) pr-5">@($"{ci.GetThisMonthBudgetUsage():P2}") (@ci.GetThisMonthBudgetUsageAmount().ToString("$0.00") of @ci.AmountBudgeted.Value.ToString("$0.00"))</text></text>
                                            }
                                            @if( Request.RawUrl != "/" ) {
                                                <text>@Html.Partial("~/Views/CategoryItems/_CategoryItemEditButton.cshtml", ci)</text>
                                                <text>@Html.Partial("~/Views/CategoryItems/_CategoryItemDeleteButton.cshtml", ci)</text>
                                            }
                                        </span>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        } else {
            <h5 class="text-center">No transaction categories yet!</h5>
        }
    </div>

    @if( Request.RawUrl != "/" ) {
        <div class="card-footer">
            <div class="float-right">
                @Html.Partial("~/Views/Categories/_CategoryCreateButton.cshtml", Model)
            </div>
        </div>
    }
</div>