@using FinancialTracker_Web.Models
@model Household

<div class="card">
    <div class="card-header card-header-md bg-gradient-purple"><i class="fas fa-funnel-dollar mr-3"></i>Categories</div>
    <div class="card-body">
        @if( Model.Categories.Count > 0 ) {
            <ul class="list-group">

                @foreach( Category c in Model.Categories ) {
                    <li class="list-group-item">
                        <span class="category-name">@c.Name</span> <span class="category-desc">@c.Description</span>

                        @if( Request.RawUrl != "/" ) {
                            <span class="float-right">
                                <span class="float-right pl-3">
                                    <text class="text-sm">@($"{c.GetThisMonthTotalBudgetUsage():P2}") spent</text>
                                </span>
                                @Html.Partial("partials/buttons/_CategoryEditButton", c)
                                @Html.Partial("partials/buttons/_CategoryDeleteButton", c)
                                @Html.Partial("partials/buttons/_CategoryItemCreateButton", c)
                            </span>
                        }

                        @if( c.CategoryItems.Count > 0 ) {
                            <ul class="list-group mt-3">
                                @foreach( CategoryItem ci in c.CategoryItems ) {
                                    <li class="list-group-item subcategory-name">
                                        @ci.Name <small class="subcategory-desc">@ci.Description</small>
                                        <span class="float-right">
                                            <span class="float-right pl-3">
                                                <text class="text-sm">@($"{ci.GetThisMonthBudgetUsage():P2}") spent</text>
                                            </span>
                                            @if( Request.RawUrl != "/" ) {
                                                <text>@Html.Partial("partials/buttons/_CategoryItemEditButton", ci)</text>
                                                <text>@Html.Partial("partials/buttons/_CategoryItemDeleteButton", ci)</text>
                                            }
                                        </span>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        } else {
            <h5 class="text-center">No transaction categories yet!</h5>
        }
    </div>

    @if( Request.RawUrl != "/" ) {
        <div class="card-footer">
            <div class="float-right">
                @Html.Partial("partials/buttons/_CategoryCreateButton", Model)
            </div>
        </div>
    }
</div>