@using FinancialTracker_Web.Models
@using FinancialTracker_Web.Models.ViewModels
@using Microsoft.AspNet.Identity

@model HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-skinny">
    <h1>Welcome, @ApplicationUser.GetFromDb(User).GetFullName()</h1>
    <p class="lead">Here you can view/create your household, see transactions, and balances.</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            @if( Model.Household != null ) {
                <div class="card card-primary">
                    <div class="card-header card-header-lg bg-gradient-blue">Your Household</div>

                    <div class="card-body">
                        <h4>@Model.Household.Name</h4>
                        <p class="card-text">@Model.Household.Greeting</p>
                        <hr />

                        <div class="row row-cols-1">
                            <div class="col">
                                @Html.Partial("partials/cards/_BankAccountsCard", Model.Household)
                            </div>
                            <div class="col">
                                @Html.Partial("partials/cards/_CategoriesCard", Model.Household)
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="float-right">
                            <a href="@Url.Action("Details", "Households")" class="btn btn-sm btn-outline-primary card-link">Go to Household</a>
                        </div>
                    </div>
                </div>

            } else {
                <div class="card card-primary">
                    <div class="card-header card-header-lg bg-gradient-blue"> Households</div>

                    <div class="card-body">
                        <p class="card-text">
                            Looks like you aren't a member of a household yet!
                        </p>
                    </div>

                    <div class="card-footer">
                        <div class="float-right">
                            @*<a class="btn btn-lg btn-block btn-outline-primary" href="@Url.Action("Create", "Households")">Create a New Household</a>*@
                            @Html.Partial("~/Views/Households/_HouseholdCreateButton.cshtml")
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-3">
            <div class="card card-info">
                <div class="card-header card-header-lg bg-gradient-cyan">Actions</div>

                <div class="card-body">
                    <div class="row row-cols-1">
                        @if( Model.Household != null && Model.Household.CreatorId == User.Identity.GetUserId() ) {
                            <div class="col pt-1 pb-1">
                                @Html.Partial("~/Views/Households/_HouseholdEditButton.cshtml", Model.Household)
                            </div>
                            <div class="col pt-1 pb-1">
                                @Html.Partial("~/Views/Households/_HouseholdDeleteButton.cshtml", Model.Household)
                            </div>
                        }
                        @if( Model.Household != null  ) {
                            <div class="col pt-1 pb-1">
                                @Html.Partial("~/Views/Households/_HouseholdLeaveButton.cshtml", Model.Household)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>