@model FinancialTracker_Web.Models.Household

@{
    ViewBag.Title = $"{Model.Name}";
}

<div class="jumbotron jumbotron-skinny">
    <h1>@Model.Name Household</h1>
    <p class="lead">@Model.Greeting</p>
</div>
<div class="row row-cols-1">
    <div class="col">
        @Html.Partial("partials/cards/_BankAccountsCard", Model)
    </div>
    <div class="col">
        @Html.Partial("partials/cards/_CategoriesCard", Model)
    </div>
</div>

<div class="row pt-3 pb-4 border-top">
    <div class="col text-right">
        @Html.Partial("~/Views/Households/_HouseholdEditButton.cshtml", Model)
    </div>
</div>