@model FinancialTracker_Web.Models.Household

@{
    ViewBag.Title = $"{Model.Name}";
}

<div class="jumbotron jumbotron-skinny">
    <h1>@Model.Name Household</h1>
    <p class="lead">@Model.Greeting</p>
</div>
<div class="row row-cols-1">
    <div class="col">
        @Html.Partial("partials/_BankAccountsCard", Model)
    </div>
    <div class="col">
        @Html.Partial("partials/_CategoriesCard", Model)
    </div>
</div>

<div class="row pt-3 border-top">
    <div class="col">

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>